.itemimage
{
    height: 150px;
    width: 150px;
    border: 1px solid lightgray;
    margin: 10px;
}

.size
{
    font-weight: 600;
    margin: auto;
    font-size: 20px;
    
}
.divforitem
{
    align-items: center;
    text-align: center;
    height: 300px;
    width: 150px;
    margin: 1%;

}

